html, body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(250,250,250);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    max-width: 1050px;
    margin: 0 auto;
}

header {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 2em;
    margin-right: 2em;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header_left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header_right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.githib_a {
    color: black;
    text-decoration: none;
}

.githib_a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgb(0,0,0);
}

.avatar_a {
    margin-right: 1.5em;
}

.title {
    font-size: 1.5em;
}

.perso {
    margin-top: 8rem;
    margin-bottom: 8rem;
    margin-left: 2em;
    margin-right: 2em;
    height: 12em;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.perso_title {
    font-size: 4em;
}


.my_projects {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
}

.my_projects_list {
    display: flex;
    flex-wrap: wrap;
}

.my_projects_title {
    font-size: 1.5em;
}

.logo_github {
    width: 50px;
    height: 50px;
    margin: 2em;
}

.one_project {
    margin: 1em;
    margin-bottom: 1em;
    border-radius: 20px;
    padding: 1em;
    transition: background,box-shadow .3s;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.one_project:hover {
    background-color: rgb(250,250,250);
    box-shadow: 0 30px 60px rgba(0,0,0,0.12);
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    /*smartphone*/
    .my_projects_list {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
}

@media screen and (min-width: 1000px) {
    /*ordinateurs*/
    .my_projects_list {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}